<launch>
   <node pkg="detect_3d_cuboid" type="detect_3d_cuboid_node" name="detect_3d_cuboid_node"  output="screen">
   </node>
   <!-- <param name="base_folder" value ="$(find detect_3d_cuboid)/data/example/"/>
   <param name="image_format" value ="jpg"/>
   <param name="x" value ="188"/>
   <param name="y" value ="189"/>
   <param name="w" value ="201"/>
   <param name="h" value ="311"/> -->

   <param name="base_folder" value ="$(find detect_3d_cuboid)/data/redwood/03815/"/>
   <param name="image_format" value ="png"/>
   <param name="frame_index" value ="33"/>
   <!-- <param name="use_lines" value ="false"/> -->
   <param name="use_lines" value ="true"/>
   <param name="x" value ="180"/>
   <param name="y" value ="53"/>
   <param name="w" value ="300"/>
   <param name="h" value ="418"/>

   <!-- for 0842
   <param name="x" value ="94.826767"/>
   <param name="y" value ="52.941727"/>
   <param name="w" value ="353.460327"/>
   <param name="h" value ="417.177673"/> -->

   <param name="whether_plot_detail_images" value ="false"/>
   <param name="whether_plot_final_images" value ="true"/>
   <param name="print_details" value ="false"/>
   <param name="whether_sample_bbox_height" value ="false"/>
   <param name="whether_sample_cam_roll_pitch" value ="false"/>

   <!-- <param name="R00" value =""/>
   <param name="R01" value =""/>
   <param name="R02" value =""/>
   <param name="R10" value =""/>
   <param name="R21" value =""/>
   <param name="R32" value =""/> -->

</launch>